<% include partials/header %>
<div class="container">


  <header class="jumbotron">
    <h1>Home page</h1>

  </header>

  <p>Welcome to Engineering information Portal</p>

  <a href="/projects">View all projects</a>

</div>
<% include partials/footer %>
