<% include partials/header %>
<div class="container">


  <header class="jumbotron">
    <h1>Landing page</h1>

  </header>

  <p>Welcome to YeldCamp</p>

  <a href="/campgrounds">View all camp grounds</a>

</div>
<% include partials/footer %>
